* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_553 {
  width: 100%;
  height: 3134px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_554 {
  width: 291px;
  height: 62px;
  background: url("../images/v0_554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 72px;
  overflow: hidden;
}
.v0_555 {
  width: 100%;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 70px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v0_556 {
  width: 225px;
  height: 44px;
  background: rgba(245,124,51,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1542px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v0_557 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 40px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_558 {
  width: 249px;
  height: 59px;
  background: url("../images/v0_558.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 24px;
  overflow: hidden;
}
.v0_559 {
  width: 203px;
  color: rgba(138,138,138,1);
  position: absolute;
  top: 23px;
  left: 991px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v0_560 {
  width: 160px;
  color: rgba(138,138,138,1);
  position: absolute;
  top: 23px;
  left: 751px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v0_561 {
  width: 193px;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 23px;
  left: 1268px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v0_562 {
  width: 895px;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 242px;
  left: 110px;
  font-family: SeoulNamsan;
  font-weight: B;
  font-size: 70px;
  opacity: 1;
  text-align: left;
}
.v0_563 {
  width: 819px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 449px;
  left: 110px;
  font-family: SeoulNamsan;
  font-weight: B;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v0_564 {
  width: 100%;
  height: 415px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2719px;
  left: 0px;
  overflow: hidden;
}
.v0_565 {
  width: 33px;
  height: 33px;
  background: url("../images/v0_565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 1392px;
  overflow: hidden;
}
.v0_566 {
  width: 33px;
  height: 33px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v0_567 {
  width: 19px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 7px;
  border: 1px solid rgba(255,255,255,1);
}
.v0_568 {
  width: 397px;
  height: 70px;
  background: url("../images/v0_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 105px;
  overflow: hidden;
}
.v0_569 {
  width: 509px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 105px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_570 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 1100px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_571 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 1100px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_572 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 1100px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_573 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 323px;
  left: 1100px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_574 {
  width: 63px;
  height: 63px;
  background: rgba(43,43,43,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 1819px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v0_575 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 48px;
  overflow: hidden;
}
.v0_576 {
  width: 14px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v0_577 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 1390px;
  overflow: hidden;
}
.v0_578 {
  width: 33px;
  height: 33px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.name {
  color: #fff;
}
.v0_580 {
  width: 100%;
  height: 951px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 0px;
  overflow: hidden;
}
.v0_581 {
  width: 100%;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 76px;
  left: 275px;
  font-family: SeoulNamsan;
  font-weight: B;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v0_582 {
  width: 100%;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 76px;
  left: 275px;
  font-family: SeoulNamsan;
  font-weight: B;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v0_583 {
  width: 702px;
  height: 282px;
  background: rgba(245,124,51,1);
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 230px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v0_584 {
  width: 51px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 32px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v0_585 {
  width: 19px;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_586 {
  width: 488px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 109px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_587 {
  width: 524px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 132px;
  left: 109px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_588 {
  width: 702px;
  height: 236px;
  background: rgba(245,124,51,1);
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 609px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v0_589 {
  width: 524px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 109px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_590 {
  width: 51px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 32px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v0_591 {
  width: 19px;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_592 {
  width: 524px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 94px;
  left: 109px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_593 {
  width: 702px;
  height: 282px;
  background: rgba(245,124,51,1);
  opacity: 1;
  position: absolute;
  top: 262px;
  left: 987px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v0_594 {
  width: 510px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 110px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_595 {
  width: 51px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 32px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v0_596 {
  width: 19px;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_597 {
  width: 525px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 110px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_598 {
  width: 100%;
  color: rgba(245,124,51,1);
  position: absolute;
  top: 1714px;
  left: 275px;
  font-family: SeoulNamsan;
  font-weight: B;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v0_599 {
  width: 802px;
  height: 459px;
  background: url("../images/v0_599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 1035px;
  overflow: hidden;
}
.v0_600 {
  width: 708px;
  height: 321px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1915px;
  left: 222px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_601 {
  width: 488px;
  color: rgba(36,39,69,1);
  position: absolute;
  top: 45px;
  left: 127px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_602 {
  width: 524px;
  color: rgba(36,39,69,1);
  position: absolute;
  top: 121px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_603 {
  width: 65px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 30px;
  overflow: hidden;
}
.v0_604 {
  width: 27px;
  height: 2px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 7px;
}
.v0_605 {
  width: 65px;
  height: 48px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
}
.v0_606 {
  width: 52px;
  height: 27px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 7px;
}
.v0_607 {
  width: 35px;
  height: 43px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
}
.v0_608 {
  width: 8px;
  height: 12px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 30px;
}
.v0_609 {
  width: 2px;
  height: 2px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 31px;
}
.v0_610 {
  width: 708px;
  height: 321px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1915px;
  left: 989px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_611 {
  width: 488px;
  color: rgba(36,39,69,1);
  position: absolute;
  top: 45px;
  left: 127px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_612 {
  width: 524px;
  color: rgba(36,39,69,1);
  position: absolute;
  top: 121px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_613 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v0_614 {
  width: 48px;
  height: 48px;
  background: url("../images/v0_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v0_615 {
  width: 3px;
  height: 38px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 45px;
}
.v0_616 {
  width: 38px;
  height: 3px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
}
.v0_617 {
  width: 3px;
  height: 16px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 7px;
}
.v0_618 {
  width: 3px;
  height: 25px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
}
.v0_619 {
  width: 3px;
  height: 12px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 26px;
}
.v0_620 {
  width: 3px;
  height: 19px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
}
.v0_621 {
  width: 19px;
  height: 19px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 23px;
}
.v0_622 {
  width: 3px;
  height: 13px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 36px;
  transform: rotate(-45deg);
}
.v0_623 {
  width: 708px;
  height: 277px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2302px;
  left: 607px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v0_624 {
  width: 488px;
  color: rgba(36,39,69,1);
  position: absolute;
  top: 45px;
  left: 127px;
  font-family: SeoulNamsan;
  font-weight: EB;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_625 {
  width: 524px;
  color: rgba(36,39,69,1);
  position: absolute;
  top: 121px;
  left: 127px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v0_626 {
  width: 70px;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 27px;
  overflow: hidden;
}
.v0_627 {
  width: 62px;
  height: 56px;
  background: rgba(36,39,69,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 4px;
}
